*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    overflow-x: hidden;
}
.container{
    padding: 2rem 3.4rem;
    display: flex;
    display: -ms-flexbox;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}   
.row{
    flex: 25%;
    padding: 0 4px;
}
.row img{
    width: 100%;
    margin-top: 8px;
    object-fit: cover;
    vertical-align: middle;
}
.title{
    font-size: 40px;
    color: #1d1b1b;
    font-weight: 600;
    letter-spacing: .50px;
    font-family: sans-serif;
    text-align: center;
    margin: 40px 0 20px;
}
.btn-sec{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 14px;
}
.btn-sec button{
    background: transparent;
    color: rgb(235, 62, 62);
    padding: 11px 15px;
    font-size: 18px;
    font-weight: 500;
    border-radius: 4px;
    border: 1.60px solid rgb(235, 62, 62);
    cursor: pointer;
    transition: all .3s ease;
}
.btn-sec button:hover{
    color: #fff;
    background-color: rgb(235, 62, 62);
}
@media screen and (max-width:600px) {
    .container{
        padding: 2rem 1.6rem;
    }
}